body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

#caixa {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #663300;
    border: 4px solid #552200;
    border-radius: 8px;
    margin: 50px auto;
    overflow: hidden;
}

#tampa {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #884400;
    border: 4px solid #552200;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    transform-origin: bottom center;
    transition: transform 0.5s;
}

#caixa.aberta #tampa {
    transform: rotateX(70deg);
}

#palhaco {
    position: absolute;
    bottom: 0;
    left: 50%;
    
    transform: translateX(-50%) translateY(100%);
    transition: transform 0.7s ease-out;
}

#caixa.aberta #palhaco {
    /* Move o palhaço para cima (80% acima do centro, ajustável) */
    transform: translateX(-50%) translateY(-80%);
}

button {
    background-color: #ff0000;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
    font-size: 1rem;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #e90b0b;
    transform: scale(1.05);
}
